body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }

.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
  }